body {
  font-family: 'Lato', sans-serif;
}

.masterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.content img {
  margin-right: 10px;
  display: block;
}

.content.offline img {
  opacity: 0.25;
}

.content h3,
.content p {
  margin: 0;
}

.online-header {
  color: white;
  background: #3f3f3f;
  padding: 10px;
}

.offline-header {
  color: #777777;
  background: #d1d1d1;
  padding: 10px;
}

a.offline:link  {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a.online:link  {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Blue;
  background-color: transparent;
  text-decoration: underline;
}

.footer-text {
  color: #787878;
  padding: 0px;
  margin: 0px;
}